.Home-grid{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    height: auto; 
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

  @media (max-width: 480px) {
    .Home-grid {
      grid-template-rows: repeat(3, 1fr); 
      height: auto;
    }
   
  
  }
