.Reservation_form {
    background-image: url(../assets/resto1.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
