.group_cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    margin-top: 30px;

  }
  
  .card {
    min-width: 300px;
    max-width: 500px;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    transition: 1s;
    background-color: white;
  }
  
  .card:hover{
    transform: scale(1.05)
  }
  
  
  
  .card img {
    height: 50%;
    width: 90%;
  }
  
  .title-card{
    color: black;
  }

  .card p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black;
  }

  .card div {
    display: flex;
    flex-direction: column;
    column-gap: 25px;
    text-align: center;
    
  }

  .price{
    color:   #EE9972;
  }
  
  button {
    background-color: #a55216;
    color: white; 
    font-size: 20px;
    border-radius: 5px;
    transition: 1s;
    padding: 10px 20px
  }
  
  button:hover {
    background-color: #bd7644;
    cursor: pointer;
    letter-spacing: 2px;
  }

 

 
  
  @media (max-width: 480px) {
    .group_cards {
      justify-content: center;
      padding: 0 10px;
      gap: 10px;
      width: 100%;
      
    }
  
    .card {
      max-width: 100%;
      width: 100%;
      margin-bottom: 15px; 
      height: auto; 
      padding: 10px;
      flex-direction: row;
      gap: 10px;
      
      
    }
    .card img {
      height: 60%;
      width: 40%;
    }
    .card div {
      height: auto;
      width: 50%;
      display: flex;
      column-gap: 25px;
      flex-wrap: wrap;
     
      
    }
    .card p {
      font-size: 1.2rem; /* Further reduce font size */
    }
  
    button {
      font-size: 16px; /* Smaller button text */
      padding: 6px 12px; /* Smaller button padding */
    }
  }