
  .form {
    background-color: rgba(100, 98, 95, 0.7);
    width: 400px;
    height: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px;
    margin: 30px;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    
  }

 
  
  label {
    font-size: 24px;
    color: white;
  }
  
  input {
    height: 28px;
    border-radius: 5px;
    border: none;
    background-color: rgba(189, 188, 185, 0.7);
    width: 80%;
    
  }
  legend {
    font-size: 64px;
    font: medium;
    color: white;
  }
  
  .btn_submit {
    background-color: #f4ce14;
    border: none;
    color: black;
    padding: 8px;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .signupWith {
    text-align: center;
  }
  
  .signupWith span {
    border: 1px solid #f4ce14;
    margin: 2.5px;
    border-radius: 16px;
    padding: 5px;
  }
  
  .account {
    text-align: center;
    color: white;
  }
  
  .Signup-link {
    color: #f4ce14;
  }
  
  @media (max-width: 480px) {
    .form {
      max-width: 300px;
    }
  }
  