header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100px;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.visible {
  transform: translateY(0);
  opacity: 1;
}

.hidden {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none; /* Prevents interaction while hidden */
}

  .logo-header{
    width: 200px;
   
  }

  .cart-icon{
    display: block;
    
  }

  .hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
   
  }

  @media (max-width: 480px) {
    header {
      padding: 5px 10px;
    }




    .hamburger {
      display: block; /* Show hamburger on smaller screens */
     
    }
    .logo-header{
      width: 150px;
      
      
    }
  
    .cart-icon{
      display: block;
    
    }
   
  }