.hero {
  display: flex;
  flex-direction: column;
  
  background: linear-gradient(to bottom, #495e57, #607e74);
  padding: 16px;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.hero-details {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100% ;
}

.hero-second-title {
  color: #edefee;
  font-size: 40px;
}

.hero-details  p {
  font-size: 18px;
  font-family: "karla", sans-serif;
  font: medium;
  color: white;
  margin-top: 20px;
 
}

.btn_reserve {
  align-self: flex-start;
  cursor: pointer;
  text-align: center;
  border-radius: 16px;
  padding: 8px;
  border: none;
  background-color: #f4ce14;
  font-size: 40px;
  margin-bottom: 20px;
  color: black;
  
}


.chefPhoto {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  margin-right: 40px;
}

@media (max-width: 480px) {
  .chefPhoto {
    width: 146px;
    height: 151px;
    margin-right: 0px;
  }

  .btn_reserve {
    
    font-size: 30px;
    
    
    
  }
}
