.specials{
    display: grid;
    grid-template-rows: 1f 2f ;
    padding: 20px;
    width: 100%;

}

.specials div{
    display: flex;
    justify-content: space-between;
}





@media (max-width: 480px) {
    .specials div {
      flex-direction: row;
      justify-content: space-between;
      gap: 8px;
    }
    .specials div button {
      font-size: 1rem; 
      padding: 6px 12px; 
    }
  }
