
.Testimonial-Cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 70px;
}

.Testimonial-Card {
  width: 30%;
  height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  row-gap: 10px;
  background-color: white;
}

.Testimonial-Card img {
  margin-top: 0;
  height: 30%;
  width: 30%;
}

.Testimonial-Card p {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}

.rating {
  color: #EE9972;
}

article {
  flex: 1;
}



@media (max-width: 480px) {
  .TestimonialCards {
    padding: 10px;
  }

  .Testimonial-Card {
    width: 100%; /* Each review card takes up the full width on small screens */
    margin: 10px 0;
    padding: 12px;
  }

  .Testimonial-Card img {
    height: 30%; /* Increase image size for better visibility */
    width: 30%;
  }

  .Testimonial-Card p {
    font-size: 1.2rem; /* Further reduce font size */
  }
}
