.App{
  min-height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 0;
  padding: 0 0;
  
}

@media (max-width: 480px) {
  .App{
   
     grid-template-rows: min-content 1fr min-content; 
  }
}



